MRS HAPPY CHICKEN PRIVACY POLICY

This privacy policy sets out how any personal data collected through the game “mrs-Happy-Chicken” will be used and processed.
The developer of “mrs-Happy-Chicken” is committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using "mrs-Happy-Chicken", then you can be assured that it will only be used in accordance with this privacy statement.
The developer may change this policy from time to time by updating this page. You should check this page from time to time to ensure that you are happy with any changes. This policy is effective from Jul 19 2014.

What we collect 
Actually we won't collect anything personal

Internal record keeping.
We may use the information to improve our products and services.
We may periodically send promotional email about new products, special offers or other information which we think you may find interesting using the email address which you have provided. 
From time to time, we may also use your information to contact you for market research purposes. We may contact you by email, phone, fax or mail.
We may use the information to customize the game "mrs-Happy-Chicken" according to your interests.
We may provide your information to our third party partners for marketing or promotional purposes.
We will never sell your information.

Security 
We are committed to ensuring that your information is secure. In order to prevent unauthorized access or disclosure we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect through the game "mrs-Happy-Chicken".

Links to other websites
"mrs-Happy-Chicken" may contain links to enable you to visit other websites easily. However, once you have used these links to leave the game, you should note that we do not have any control over that website. Therefore, we cannot be responsible for the protection and privacy of any information which you provide whilst visiting such sites and such sites are not governed by this privacy statement. You should exercise caution and look at the privacy statement applicable to the website in question.
